<%= form_with model: tweet do |form| %>
    <div class="mb-3">
        <%= form.label :twitter_account_id %>
        <%= form.collection_select :twitter_account_id, Current.user.twitter_accounts.all, :id, :username, {}, {class: "form-select"} %>
    </div>

    <div class="mb-3">
        <%= form.label :body %>
        <%= form.text_area :body, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :publish_at %>
        <div class="form-control">
            <%= form.datetime_select :publish_at %>
        </div>
    </div>

    <%= form.button "Schedule", class: "btn btn-primary" %>

    <% if form.object.persisted? %>
        <%= link_to "Yes Delete", form.object , method: :delete ,class: "btn btn-danger" %>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete Tweet
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to delete the Tweet bellow:
                    <div class="card card-body">
                        <a class="d-flex align-items-center" href="<%="https://twitter.com/#{form.object.twitter_account.username}"%>">
                            <%= image_tag form.object.twitter_account.image, class: "rounded-circle" unless form.object.twitter_account.image.nil?%>
                            <div class="d-flex flex-column px-2">
                                <div class="fw-bold"><%=form.object.twitter_account.name%></div>
                                <div>@<%= form.object.twitter_account.username%></div>
                            </div>
                        </a>
                        <div class="fs-4 mt-3"><%= form.object.body %></div>
                        <div class="fs-6 text-secondary">
                            Scheduled for:<%= form.object.publish_at.strftime("%l:%M %p • %b %e,%Y") %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>